body{
    position: relative;
  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    gap:3rem
}

.infoGuide{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight:300;
  
    width: 100%;
}

.mainContent{  
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 500px;
    margin-inline: auto;
}

.title{
    font-family: "Roboto";
    font-weight:300;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  
}

.write{
    white-space: nowrap;
    padding: 0 .5rem 0 0 ;
    animation: piscar 1s steps(2) infinite,escrever 1.2s steps(16)  forwards;
    width:0%;
    overflow: hidden;
}





@keyframes piscar {
    0%{   border-right: 1px solid transparent ;}
    100%{   border-right: 1px solid #000 ;}
}

@keyframes escrever {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}


.mainMenu{
    font-size: 1.4rem;
    font-weight: 400;
    display:flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;

}

.mainMenu a{
 padding: 1rem ;
width: 100%;
 border-radius: 20px;
 background-color: #9CDFE6;
 text-align: center;
}

.mainMenu a:hover{
    transform: scale(1.03);
    color: #353535;
}

.image{
    position: absolute;
    width: clamp(120px,100px + 10vw, 200px);
    transition: 1s ease;
    overflow: hidden;
}
.image:hover{
transform: scale(1.03) translate(-5px,-5px);
}
.one{
    bottom: 0px;
    left: 0px;
}
.two{
    bottom: 0px;
    right: 0px;}
.three{
    top: 0px;
    right: 0;}
.four{
    top: 0px;
    left: 0px;}

.img1 img{
margin-left: -50px;
margin-bottom: -50px;
transform: rotate(40deg);
}

.img4 img{
    margin-left: -50px;
}

 @media(max-width:400px){
 .three{
        display: none;
    }
 }
